




.container{
  background: linear-gradient(#222,rgba(181, 8, 8, 0.54) 100%), url('../../../assets/image.png');
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
};





















































































































































































































































